
<div class="masonry_col_blog animation w2 fadeIn">
    <div class="photo_item">
        <div class="photo_item_wrap">
            <a href="@ViewBag.UrlDomain/img/prewedding3.jpg">
                <img src="@ViewBag.UrlDomain/img/prewedding3.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<div class="masonry_col_blog animation fadeIn">
    <div class="photo_item">
        <div class="photo_item_wrap">
            <a href="@ViewBag.UrlDomain/img/prewedding12.jpg">
                <img src="@ViewBag.UrlDomain/img/prewedding12.jpg" alt="">
            </a>
        </div>
    </div>
</div>


<div class="masonry_col_blog animation fadeIn">
    <div class="photo_item">
        <div class="photo_item_wrap">
            <a href="@ViewBag.UrlDomain/img/prewedding15.jpg">
                <img src="@ViewBag.UrlDomain/img/prewedding15.jpg" alt="">
            </a>
        </div>
    </div>
</div>

<div class="masonry_col_blog w2 animation fadeIn">
    <div class="photo_item">
        <div class="photo_item_wrap">
            <a href="@ViewBag.UrlDomain/img/prewedding2.jpg">
                <img src="@ViewBag.UrlDomain/img/prewedding2.jpg" alt="">
            </a>
        </div>
    </div>
</div>