<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khoo & Olivia | 2 May 15</title>
    <link rel="icon" href="http://bazaarstorage.blob.core.windows.net/wedding/img/favicon.jpg">
    @Styles.Render("~/Content/bootstrap")
    @RenderSection("content", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvrrb8hRSWoXjNO-4galp4YdfkdcyoUdE&libraries=places"></script>

</head>
<body>
    @RenderBody()
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
